<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
</head>
<body>
<h1>About page</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, exercitationem, nesciunt! A atque aut consequuntur deserunt ducimus ea eaque illum iure officiis, omnis perferendis, provident rem, sint tenetur veritatis voluptatem.</span><span>A accusantium aliquid dolorum iste mollitia vel? Atque cupiditate fuga molestias provident quia, voluptatibus. Beatae incidunt quis ratione similique voluptatibus! Commodi doloremque iste magni minus pariatur quia sequi sint voluptatibus.</span></p>
<h1>Portfolio</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem harum officia ratione! Ad, amet autem debitis doloremque eveniet fugit ipsam maiores modi obcaecati, possimus quasi sequi. Ipsum sed, voluptatum.</span><span>Accusamus, aliquid atque consequatur dicta dolor dolorum esse facilis fugit illum laboriosam minus non repellendus rerum vitae, voluptatum? Amet atque autem culpa dolorum error explicabo ipsum iste obcaecati ratione tenetur.</span></p>
</body>
</html>