<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collection</title>
    {% load static %}

</head>
<body>
<h1>COLLECTIONS</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis deserunt dolor dolorem doloremque doloribus dolorum ducimus eveniet facilis, harum hic iure, laudantium nihil perspiciatis possimus praesentium quas quidem quisquam recusandae!</p>
<img src="{% static 'assets/1.jpeg' %}" alt="">

</body>
</html>