<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
</head>
<body>
<h1>My gallery</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque, commodi cumque, deserunt dolorem doloremque dolores eaque eos expedita modi nostrum, nulla quaerat totam ut! Adipisci dolor laboriosam qui!</span><span>Aliquam consectetur doloribus et illum maxime minima nisi quae? Dolor incidunt, minus nulla provident quod veniam voluptatum! Ab ad autem blanditiis dicta ducimus eveniet illo, nobis obcaecati, officia, officiis reiciendis.</span></p>
</body>
</html>